* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Viga', sans-serif;
    background-color:rgba(238, 243, 238, 0.014) ;
}
h1{
background: rgb(0, 159, 1);
color: rgb(214, 224, 231);
text-align: center;
font-family: 'Anton', sans-serif;
font-size: 3.5em;
text-shadow:30cm ;
    font-family: 'Oswald', sans-serif;
    background: rgba(229, 230, 229, 0);
    color: rgb(1, 7, 12);
    text-align: center;
    color: rgb(207, 210, 207);
    background-color: green;
    border-radius: 100%;
}

h2 {
    font-size: 3em;
    color: black;
    text-align:center;
    color: aliceblue;
   color: green;
    font-family: 'Oswald', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgb(0, 159, 1);
    background: rgba(191, 194, 191, 0.014);
    overflow: hidden;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: green;
    clip-path: circle(30% at bottom right);
}
.conteiner img {
    width: 300px;
    position: relative;
    left: 38%;          
}
.img1 img{
    position: relative;
    left: 38%; 
    width: 600px;

}

p{
 font-family: 'Anton', sans-serif;
 font-size: 2.5em;
 text-align: center;
}
img{
    width:800px ;
    position:relative;
    left: 37%;
}
.inside {
    list-style-position: inside;
  }
  .outside {
    list-style-position: outside;
  }
  li{
    font-family: 'Anton', sans-serif;
    font: italic 20px Verdana, Sans-serif;
    color:rgb(38, 173, 38);
    font-weight: 500em;
    text-decoration: none;
    font-size: 30px;
    margin-left: 100px;
    
}




