*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Viga', sans-serif;
    background-color:rgb(0, 159, 1) ;
}
h1{
background: rgb(0, 159, 1);
color: rgb(214, 224, 231);
text-align: center;
font-family: 'Anton', sans-serif;
font-size: 3.5em;
text-shadow:30cm ;
}
h2{
    font-size: 3em;
    text-align:center;
    color: aliceblue;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgb(0, 159, 1);
    overflow: hidden;
}
p{
 font-family: 'Anton', sans-serif;
 font-size: 2.5em;
 text-align: center;
}
img{
    width:700px ;
    position:relative;
    left: 37%;
}
.inside {
    list-style-position: inside;
  }
  .outside {
    list-style-position: outside;
  }
  li{
    font-family: 'Anton', sans-serif;
    font-size: 2.5em;

  }