@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #dbd7d714;
    overflow: hidden;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5db054e1;
    clip-path: circle(33% at bottom right);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    position: relative;
    max-width:250px;
}
header .navegation ul{
    position: relative;
    display: flex;
}
header .navegation  li{
    list-style: none;

    
}
header .navegation li a{
    display: inline-block;
    color:green;
    font-weight: 600;
    text-decoration: none;
    font-size: 40px;
    margin-left:70%;
        border: 7px solid black;
        border-radius: 20px;
        padding: 5px;
        position: relative;
        left: -70%;
        
}

span {
    transition: transform 0.2s ease-in-out;
  }
  
  span:hover {
    transform: translateY(-10px);
  }
.content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .text{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}
.content .text h2{
    color: rgb(39, 36, 36);
    font-size: 2em;
   margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
}
.content .text h2 span{
    font-size: 3.5em;
    color: green;
}
.content .text p{
    color: black;
}
.content .text a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background: green;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}
.content .text a:hover{
    transform: translateY(-10px);
}
.icons{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons li{
    list-style: none;
}
.icons li a{
    display: inline-block;
    margin-left: 45px;
    background: green;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition:  0.3s ease-in-out;
}
.icons li a:hover{
    background: #dddcdc91;
    transform: translateY(-10px);
}
.icons li a img{
    filter: invert(1);
    transform: scale(0.5);
}
.boxImg{
    position: absolute;
    right: 0;
    bottom:0;
}
.boxImg img{
    width: 300px;
}

  